MODEL_PATH=../legacy-streamlit/model/modelo_rf.pkl
ENCODER_PATH=../legacy-streamlit/model/label_encoder.pkl
METRICS_PATH=../legacy-streamlit/model/metricas_modelo.pkl
DATASET_PATH=../legacy-streamlit/data/EM_2S_2022_alumnos_innominado.xlsx
API_TITLE=P20261012 Backend ML
API_VERSION=0.1.0
